:root {
  /* Primary */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--magnolia);
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
}

#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--marine-blue);
}

.step-container {
  padding: 20px;
}

.grey-text {
  font-size: 16px;
  color: var(--cool-gray);
}

.mobile-footer {
  background-color: var(--white);
  margin-top: auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
