:root {
  /* Primary */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--magnolia);
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
}

#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--marine-blue);
}

h1 {
  font-size: 24px;
  margin: 12px 0px;
}

p {
  margin-top: 0;
  line-height: 24px;
}

input {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--light-gray);
  margin-bottom: 16px;
  width: 100%;
  padding: 12px 16px;
}

input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: var(--cool-gray);
}

label {
  color: var(--marine-blue);
  font-size: 14px;
  margin-bottom: 4px;
}

.step-container {
  padding: 16px 24px;
}

.grey-text {
  font-size: 16px;
  color: var(--cool-gray);
}

.desktop-header-image,
.desktop-footer {
  display: none;
}
.form-container {
  position: fixed;
  z-index: 1;
  top: 0;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-footer {
  background-color: var(--white);
  margin-top: auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.stage-container {
  display: flex;
  justify-content: center;
  gap: 2.5px;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 100%;
  margin: 8px;
  padding: 8px;
  width: 16px;
  height: 16px;
}

.selected-stage {
  border: none;
  color: var(--marine-blue);
  background-color: var(--light-blue);
}

.plan-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px 0;
}

.plan-button {
  padding: 16px;
  border: 2px solid var(--light-gray);
  border-radius: 8px;
}

.zero-margin {
  font-family: "Ubuntu";
  margin: 0;
  text-align: left;
}

.price-text {
  color: var(--cool-gray);
  font-family: "Ubuntu", sans-serif;
  text-align: left;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.switch-container {
  gap: 8px;
  box-sizing: border-box;
  margin-bottom: 12px;
  padding: 6px;
  border-radius: 12px;
  width: 100%;
  background-color: var(--alabaster);
}

.switch-text {
  font-size: 14px;
  font-weight: 500;
  color: var(--cool-gray);
}

.selected-switch {
  color: var(--marine-blue) !important;
}

.addon-header {
  font-size: 14px;
  line-height: 1.2;
}

.addon-desc {
  font-size: 12px;
  line-height: 90%;
  color: var(--cool-gray);
}

.addon-price {
  color: var(--purplish-blue) !important;
  font-size: 12px;
  margin-right: 12px;
}

.confirm-container {
  margin: 48px 0;
  padding: 0px;
}

.text-center {
  text-align: center;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
}

.summary-header {
  color: var(--marine-blue);
  font-size: 14px;
  font-weight: 500;
  line-height: 95%;
}

.summary-text {
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--cool-gray);
}

.summary-addOn-price {
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--marine-blue);
}

.total-price {
  font-size: 16px;
  font-weight: 700;
  color: var(--purplish-blue);
}

.test-grid {
  display: flex;
  gap: 12px;
  align-items: center;
}

.divider {
  border: 1px solid var(--light-gray);
  margin: 8px 0;
}

@media screen and (min-width: 769px) {
  .mobile-header-image,
  .mobile-footer,
  .stage-container {
    display: none;
  }

  .padding-top {
    padding: 12px 0;
  }
  .desktop-header-image {
    display: block;
  }

  .desktop-footer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin-top: auto;
    padding: 16px;
  }

  .desktop-form-container {
    align-items: center;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
  }

  .addon-header {
    font-size: 16px;
    line-height: 1.5;
  }

  .addon-desc {
    font-size: 14px;
    line-height: 110%;
  }

  .form-container {
    position: relative;
    margin: auto;
  }

  .desktop-plan-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .test-grid {
    align-items: flex-start;
    gap: 48px;
    flex-direction: column !important;
  }

  .step-container {
    display: flex;
    gap: 60px;
    padding: 16px;
  }

  .summary-header,
  .summary-text,
  .summary-addOn-price {
    font-size: 16px;
  }
  .summary-text,
  .summary-addOn-price {
    margin-bottom: 16px;
  }

  .divider {
    margin-top: 20px;
    margin-bottom: 12px;
  }
}
